@import '../../style/vars';

.search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  max-width: 100%;
  /*  margin-left: 10px;*/
}

.string {
  position: absolute;
  right: 0;
  top: 0;
  /*transform: scale(0, 1);*/
  transform-origin: 100% 0%;
  transition: transform 0.3s linear;
  pointer-events: none;
  width: 100%;
}

.shown {
  transform: none;
  pointer-events: all;
}

input.input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  padding: 5px 50px 5px 10px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-weight: normal;
  /*color:#AEAEAE;*/
  color: #2b2b2b;
  background-color: #f4f4f4;
  font-family: 'Noto Sans', 'NotoSans', sans-serif;
  font-size: 16px;
}

.list {
  position: relative;
  display: block;
  top: -1px;
  background: white;
  list-style: none;
  max-height: 364px;
  overflow: auto;
  border-radius: 0 0 2px 2px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.15);
}

.item {
  color: #707070;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  padding: 0px 40px 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background: #cbcbcb;
}

.hovered {
  background: #0075ff;
  color: white;
}

.btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  /*  background: white;*/
  transition: opacity 0.3s;
}

.cube {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  backface-visibility: visible;
  /*transition: transform 0.3s linear;*/
  transition: opacity 0.3s linear;
  transform-origin: center;
  opacity: 0;
}

.find {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(./../../../public/assets/search.svg) no-repeat center;
  background-size: contain;
  transform: translateZ(16px);
  transform-origin: center;
  backface-visibility: visible;
}

.cross {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background: url(./../../../public/assets/cross.svg) no-repeat center;
  background-size: 14.2px 14.2px;
  /*transform: rotateY(-90deg) translateZ(16px);*/
  transform-origin: center;
  backface-visibility: visible;
}

.close {
  & .cube {
    /*transform: rotateY(90deg);*/
    opacity: 1;
  }
}

@media (hover: hover) {
  .btn:not(.close):hover {
    opacity: 0.7;
  }
}

/*@media (--s) {
  .search {
 
    margin-left: auto;
    flex-shrink: 0;
    z-index: 900;
  }

  .list {
    max-height: 78px;
  }

  .string {
    width: calc(100vw - 18px);
    height: 50px;
    top: -10px;
    background: #1345ae;
    padding-top: 10px;
  }
}
*/
