.leaflet-bar a {
  color: #0075ff;
  user-select: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

.leaflet-popup {
  left: 0 !important;
  bottom: 10px !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #0075ff;
  opacity: 0.8;
  user-select: none;
  height: 20px;
  width: 20px;
  display: none;
  &:hover {
    color: #0075ff;
    opacity: 1;
  }
}

.leaflet-popup-content {
  margin: 15px 15px !important;
}
@media (max-width: 410px) {
  .leaflet-popup-content {
    margin: 3vw 3vw !important;
  }
}

.leaflet-popup-tip-container {
  width: 30px;
  height: 30px;
  left: 0 !important;
  margin-left: 0 !important;
  margin-top: -10px !important;
}

.leaflet-popup-tip {
  background: transparent !important;
  transform: rotate(0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 0px !important;
  height: 0px !important;
  border-top: 30px solid white !important;
  border-right: 30px solid transparent !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
  color: black !important;
  padding-top: 0px !important;
  line-height: 37px !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    padding-top: 0px !important;
  }
}

/* css hack: detect mobile chrome only */
@media (max-width: 410px) {
  _:future,
  .leaflet-control-zoom-in,
  _:future,
  .leaflet-control-zoom-out {
    padding-top: 2px !important;
  }
}

.leaflet-bar a:hover {
  color: rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.75) !important;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 0px solid rgba(0, 0, 0, 0) !important;
}

.leaflet-right .leaflet-control {
  margin-right: 15px !important;
}
.leaflet-top .leaflet-control {
  margin-top: 15px !important;
}

@media (max-width: 410px) {
  .leaflet-right .leaflet-control {
    margin-right: 3vw !important;
  }
  .leaflet-top .leaflet-control {
    margin-top: 3vw !important;
  }
}
