.ria-infographics-container_w {
  max-width: 600px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.ria-infographics-preloader {
  position: relative;
  max-width: 600px;
  max-height: 600px;
  min-width: 320px;
  min-height: 320px;
  margin: 0 auto;
  background: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
.ria-infographics-preloader svg {
  overflow: visible !important;
}
.ria-infographics-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.ria-infographics-block1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 52.5%;
  height: 50.5%;
  overflow: hidden;
}
.ria-infographics-lineLong,
.ria-infographics-lineShort {
  position: relative;
  width: 100%;
  height: 8.5%;
  background-color: #cbcbcb;
  overflow: hidden;
}
.ria-infographics-lineLong:nth-last-child(1),
.ria-infographics-lineShort:nth-last-child(1) {
  width: 78%;
}
.ria-infographics-lineLong:before,
.ria-infographics-lineShort:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 250%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(203, 203, 203) 0%,
    rgb(156, 156, 156) 25%,
    rgb(156, 156, 156) 75%,
    rgb(203, 203, 203) 100%
  );
  animation: ria-infographics-gradient 2s infinite linear;
}
@keyframes ria-infographics-gradient {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(50%);
  }
}
.ria-infographics-block2 {
  width: 40%;
  height: 50.5%;
}
.ria-infographics-block3 {
  display: flex;
  justify-content: space-between;
  width: 52.5%;
  height: 44%;
  align-self: flex-end;
}
.ria-infographics-col {
  width: 17%;
  background-color: #cbcbcb;
}
.ria-infographics-col:nth-child(1) {
  height: 53.6%;
  align-self: flex-end;
}
.ria-infographics-col:nth-child(2) {
  height: 89.8%;
  align-self: flex-end;
}
.ria-infographics-col:nth-child(3) {
  height: 66.6%;
  align-self: flex-end;
}
.ria-infographics-col:nth-child(4) {
  height: 48.8%;
  align-self: flex-end;
}
.ria-infographics-block4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 44%;
  align-self: flex-end;
  overflow: hidden;
}
